body {
	background-color: #f4f4f4;
	font-family: arial;
	text-align: center;
}

header, footer {
	background-color: #333;
	color: white;
	padding: 20px;
}

main {
	padding-top: 40px;
	padding-bottom: 40px;
}

ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ccc;
}

.MainTitle {
	font-size: 24px;
	font-weight: 800;
}

.Gaps {
	padding-right: 20px;
}
