<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <title>CyberNews - About</title>
	</head>
	<body>
		<header>
				<p class="MainTitle">About us!</p>
		</header>
		<h2>Made by a student of life...</h2>
		<div class="button-section">
			<a href="{{ url_for('root') }}" class="btn-news">Home</a>
		</div>
		<footer>
			<small>© CyberNews Tracker TradeMedia</small>
		</footer>
	</body>
</html>
