<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <title>CyberNews - Contact us!</title>
	</head>
	<body>
		<header>
            <div class="header-left">
				<a href="{{ url_for('root') }}" class="btn-home">Home</a>
			</div>
			<p class="MainTitle">Tell us about yourself</p>
            {% if session.get('user_id') %}
            <div class="header-right">
                <span class="user-info">{{ session.username }} ({{ session.role }})</span>
                <a href="{{ url_for('logout') }}" class="btn-logout">Log Out</a>
            </div>
		{% endif %}
		</header>
<div class="form-container">
    <h2>User Profile Form</h2>
    <form action="{{ url_for('contact') }}" method="POST">
        <div class="form-group">
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" placeholder="Full name" required>
        </div>
        <div class="form-group">
            <label for="age">Age*</label>
            <input type="number" id="age" name="age" min="0" max="120" placeholder="0" required>
        </div>
        <div class="form-group">
            <label for="gender">Gender*</label>
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title*</label>
            <input type="text" id="title" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label for="message">Message*</label>
            <textarea id="message" name="message" placeholder="Message..." required></textarea>
        </div>
        <button type="submit" id="send-msg-btn">Send message</button>
    </form>
</div>
		<footer>
			<small>© CyberNews Tracker TradeMedia</small>
		</footer>
	</body>
</html>
