<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <title>CyberNews - Log In</title>
	</head>
	<body>
		<header>
			<p class="MainTitle">Member Login</p>
		</header>

		<div class="form-container">
			<h2>Log In to Your Account</h2>
			<form action="{{ url_for('login') }}" method="POST">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" placeholder="Enter username" required>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Enter password" required>
				</div>
				{% if error %}
				<div class="error-message">
					{{ error }}
				</div>
				{% endif %}
				<button type="submit" id="send-msg-btn">Log In</button>
				<div class="button-section">
					<a href="{{ url_for('root') }}" class="btn-news">Go back to home</a>
				</div>
			</form>
		</div>

		<footer>
			<small>© CyberNews Tracker TradeMedia</small>
		</footer>
	</body>
</html>