<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <title>CyberNews - Welcome!</title>
	</head>
	<body>
		<header>
			<p class="MainTitle">Welcome, {{ username }}!</p>
		</header>

		<h2>Your account has been created successfully.</h2>

		<div class="button-section">
			<a href="{{ url_for('root') }}" class="btn-news">Go to Home</a>
			<a href="{{ url_for('contact') }}" class="btn-news">Log In</a>
		</div>

		<footer>
			<small>© CyberNews Tracker TradeMedia</small>
		</footer>
	</body>
</html>